.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.2s ease-in-out; /* Smooth transitions on spin */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none; /* Removes underline */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.App-link:hover, .App-link:focus {
  color: #9bddff; /* Lighter blue on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}