.container {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
    color: black;
    font-size: medium;
    font-weight: 400;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 20px;
  }